/* COGS3 studyBuddy specific styles go here. */

#title {
    background-color: rgb(255, 208, 231);
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    color: #ffffff;
    font-family: 'Petit Formal Script', cursive;
    font-weight: bold;
    font-size:2.6rem;
    line-height: 1.5;
    padding: 2.5%;
}

h2 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding: 2%;

}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 1.2%;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 1.2%;
    text-align: center;
}

em {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #949494;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Petit Formal Script', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
}

.navbar-item {
    padding: 0 20px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

/* Title Image */
.title-image {
    width: 100%;
    margin: 1%;
}

/* Resume Section */
#resume {
    padding: 5% 15%;
    background-color: #ffffff;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.feature-box {
    text-align: center;
    vertical-align: center;
    padding: 3%;
}

.icon {
    color: rgb(166, 207, 255);
    margin-bottom: 1rem;
    vertical-align: center;
}

.icon:hover {
    color: rgb(255, 208, 231);
}

/* Projects Section */
#projects {
    text-align: center;
    background-color: rgb(255, 208, 231);
}

.carousel-item {
    padding: 7% 15%;
    vertical-align: middle;
}

.btn btn-lg btn-block btn-light {
    padding: 3% 3%;
    margin: 3% 5%;
    font-family: 'Montserrat', sans-serif;
    vertical-align: middle;
}


/* contact Section */
#contact {
    padding: 2%;
    text-align: center;
}

.contact-header {
    color: #000;
}


/* Footer Section */

#footer {
    padding: 2% 15%;
    text-align: center;
}


@media (max-width: 1028px) {

    #title {
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}